header{
    font-family: 'Poller One', cursive;
    background: black;
    color: white;
    padding-top: 60px ;
}

.font{
    font-family: 'Poller One', cursive;
}

body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.title{
    text-align: center;
    align-items: center;
    padding-bottom: 50px;
}

.container{
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.joueur{
    margin-right: 20px;
}

.intel{
    margin-left: 20px;
}

.you{
    width: 50%;
    text-align: center;
}

.button-container{
    padding-right: 19px;
}

.button{
    padding: 15px 20px;
}

.ia{
    width: 50%;
    text-align: center;
}

.images_match{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img1{
    margin-right: 20px;
}

.img2{
    margin-left: 20px;
}

.score_tableau{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 6 px solid grey;
}

.résultat{
    height: 100px;
    text-align:center;
    font-size: 40px;
}